.header {
    background-image: url("../../Assets/Images/basketball-court-with-copy-space\ copy.png");
    height: 500px;
    margin: 0%;
    padding: 10%;
    Color: #E1E5F2;
    font-family: "JockeyOne";
    font-size: 80px;
    line-height: 60px;
}